@font-face {
  font-family: Altroned;
  src: url(./assets/fonts/altroned-trial/ALTRONED\ Trial.otf);
}

@font-face {
  font-family: Monoton;
  src: url(./assets/fonts/Monoton/Monoton-Regular.ttf);
}

:root {
  --primary-color: #3bd26c;
  --secundary-color: #0ff;
  --background-color: #0b2e40;
  --text-white: #ffffff;

  --neon-Blue: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  --neon-Purple: 0 0 5px #fff, 0 0 10px #a0f, 0 0 20px #a0f, 0 0 40px #a0f,
    0 0 80px #a0f, 0 0 100px #a0f, 0 0 150px #a0f;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(180deg, #00416a 0%, #212733 100%);
  color: var(--text-white);
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

/* /////////////////////////////////////////////////////// */
/* /////////////////////// Header //////////////////////// */
/* /////////////////////////////////////////////////////// */

header {
  nav {
    position: fixed;
    top: 0;
    width: 100dvw;
    z-index: 9;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
      height: 100%;
    }
    a {
      max-width: 100px;
      margin: 0;
      padding: 2em 0;
      font-family: Altroned;
    }

    span {
      width: 30dvw;
    }
  }

  a {
    position: relative;
    text-decoration: none;
    color: var(--text-white);

    width: 100dvw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 9em auto 0 auto;
    z-index: 20;
  }

  p {
    width: 80%;
    text-align: start;
  }

  img {
    width: 10%;
    margin: 0 2rem;
  }

  img:first-of-type {
    transform: scaleX(-1);
  }

  hr {
    border: 1px solid white;
    box-shadow: var(--neon-Blue);
    width: 50%;
  }

  a > span:first-of-type {
    display: flex;
    align-items: center;
    height: 3px;
    color: var(--text-white);
    font-family: "Monoton", cursive;
    font-size: 4em;
    text-shadow: var(--neon-Blue);
    font-weight: 400;
    line-height: 2em;
    letter-spacing: 8px;

    hr {
      width: 100px;
    }
  }

  #bottomLine {
    margin-top: -1em;
    width: 37rem;
  }

  div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 37rem;

    p {
      font-family: Altroned;
      font-size: 0.8em;
      width: 100%;
    }

    p:last-of-type {
      grid-area: 1 / 2 / 2 / 3;
      text-align: end;
    }
  }
}

header a.site-logo {
  transition: all 0.3s ease-in-out;
}

header a.site-logo.shrink {
  position: fixed;
  transform: scale(0.3);
  z-index: 10;

  margin: -8em auto 0 auto;

  div {
    display: none;
  }
}

h1 {
  text-align: center;
  font-family: "Monoton", cursive;
  font-size: 4em;
  text-shadow: var(--neon-Blue);
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 8px;
}

h2 {
  font-size: 3em;
  margin: 0 0 1em 0;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite alternate;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}

/* /////////////////////////////////////////////////////// */
/* ///////////////////////// Main //////////////////////// */
/* /////////////////////////////////////////////////////// */

main {
  width: 70dvw;
  margin: 4em auto;
}

.date {
  margin: 8em 0 1em 0;

  p {
    font-size: 0.8em;
  }
}

/* /////////////////////////////////////////////////////// */
/* ///////////////////// Over Mij //////////////////////// */
/* /////////////////////////////////////////////////////// */

#overMij {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  gap: 5%;
  align-items: flex-start;
  justify-content: space-evenly;
  scroll-margin-top: 200px;

  a {
    text-decoration: none;
    color: var(--text-white);
  }

  > p {
    width: 30%;
  }

  div {
    width: 25%;

    h2 {
      font-size: 2em;
      margin: 0 0 0.5em 0;
    }

    li {
      display: flex;
      justify-content: space-around;
      padding: 1em 0;
      margin: 1em 0;
      border: 1px solid var(--secundary-color);
      border-radius: 8px;
    }

    li:hover {
      transform: translateY(2px);
      box-shadow: #0ff 2px 5px 10px;
    }

    a {
      font-size: 1em;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.aboutImage {
  grid-area: 1 / 1 / 2 / 2;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 30dvw;
  height: 40dvh;
  /* margin: 10rem 0; */

  svg {
    position: absolute;
    height: 400px;
    z-index: 1;
    opacity: 0.5;
  }
}

.cartoonTom {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  img {
    position: absolute;
    height: 400px;
    z-index: 2;
  }

  img:nth-of-type(2) {
    position: absolute;
    z-index: 3;
    height: 128px;
    /* top: 2.8em;
    left: 4.2em; */
    margin-left: 8.9em;
    margin-top: 2.7em;
    animation: RockArm 2s ease-in-out infinite alternate;
    transform-origin: center bottom;
    animation-delay: -1s;
  }
}

@keyframes RockArm {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}

/* /////////////////////////////////////////////////////// */
/* ////////////////////// Hackaton /////////////////////// */
/* /////////////////////////////////////////////////////// */

#hackathon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  align-items: flex-start;
  scroll-margin-top: 200px;

  a {
    text-decoration: none;
    color: var(--text-white);
    width: 60%;
  }

  a h2 {
    z-index: 2;
    font-size: 2em;
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
  }

  span {
    height: 4em;
    width: 60%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    position: absolute;
    bottom: 4px;
  }

  img {
    height: 60dvh;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    z-index: 1;
  }
}

main hr {
  border: 1px solid white;
  box-shadow: var(--neon-Blue);
  width: 90%;
  margin: 4em auto;
}

/* /////////////////////////////////////////////////////// */
/* //////////////////// Weekly Nerds ///////////////////// */
/* /////////////////////////////////////////////////////// */

#weeklyNerds {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 4em;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  scroll-margin-top: 200px;

  hr {
    height: 200px;
    width: 1px;
    margin: auto 0;
  }
}

article {
  width: 90%;

  a {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0 auto;
    color: var(--text-white);
    text-decoration: none;
  }
  h2 {
    order: 3;
    font-size: 1.2em;
  }

  h3 {
    order: 2;
    font-size: 0.6em;
    margin: 8px 0;
  }

  img {
    order: 1;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: fill;

    margin: 0 auto;
    border-radius: 8px;
  }
}

article:hover {
  transform: translateY(2px);
}

/* /////////////////////////////////////////////////////// */
/* ////////////////////// Projects /////////////////////// */
/* /////////////////////////////////////////////////////// */

#projecten {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
  scroll-margin-top: 200px;

  img {
    cursor: pointer;
    height: 20dvw;
    border-radius: 8px;
  }
}

.popover {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  display: none;
}

.popover iframe {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: none;
}

.popover.phone {
  width: 400px;
  aspect-ratio: 9 / 16;
}

.popover.desktop {
  width: 70dvw;
  aspect-ratio: 16 / 9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  display: none;
}

.close-btn {
  position: absolute;
  top: -35px;
  left: -35px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  background: crimson;
  color: white;
  border: none;
  padding: 4px 8px;
  z-index: 10000;
}

/* /////////////////////////////////////////////////////// */
/* ///////////////////// Reflectie /////////////////////// */
/* /////////////////////////////////////////////////////// */

#reflectie {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1em;

  scroll-margin-top: 200px;

  article {
    width: 49%;
    background-color: rgba(0, 255, 255, 0.2);
    border-radius: 8px;
    padding: 1em;
  }

  article:hover {
    transform: translateY(2px);
    box-shadow: #0ff 2px 5px 10px;
  }

  .leerdoel {
    width: 100%;
  }

  h2 {
    width: 100%;
    font-size: 2em;
    margin: 0 0 1em 0;
  }

  h3 {
    font-size: 1.5em;
    margin: 0 0 1em 0;
  }
}
